<nav class="navbar navbar-expand bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/">Short Url</a>
  </div>
  <ul class="navbar-nav mx-4">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/activity">Activity</a>
    </li>
    <%if(LoggedIn){%>
    <li class="nav-item">
      <a class="nav-link" href="/users/logout">Logout</a>
    </li>
    <%}else{%>
      <li class="nav-item">
        <a class="nav-link" href="/users/login">Login</a>
      </li>
    <%}%>
  </ul>
</nav>