<div style="height:400px;" class="w-100 d-flex align-items-center justify-content-center flex-column">
    <div class="w-75 text-center">
        <h1>Shorten Your URLs with Ease</h1>
        <small>Share content, manage websites, and communicate more efficiently. We've got you covered!</small>
    </div>
    <form action="/url/create" method="POST" class="my-4 d-flex align-items-center gap-2">
        <input class="p-2" name="url" type="url" placeholder="Enter Link" required>
        <input class="p-2 btn btn-primary" type="submit" value="Generate">
    </form>
</div>