<form class="text-center m-auto py-5" style="max-width: 350px;" method="post" action="/users/authenticate">
    <img class="mb-4" src="/img/logo.png" alt="" height="80px">

    <h1 class="h3 mb-3 fw-normal">Welcome Back <br> <span class="text-primary" style="font-weight: bold;">Sign In</span>
        and <span class="text-primary" style="font-weight: bold;">Reconnect !</span></h1>

    <div class="form-floating my-2">
        <input required type="email" name="email" class="form-control" id="floatingInput"
            placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating my-2">
        <input required type="password" name="password" class="form-control" id="floatingPassword"
            placeholder="Password">
        <label for="floatingPassword">Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary my-4" type="submit">Sign in</button>
</form>