<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
      <div style="height:400px; background-color: rgb(205, 230, 250);" class="w-100 d-flex align-items-center justify-content-center flex-column">
        <div class="w-75 my-4 text-center">
            <h2>Hurray ! The Generated <span class="text-primary" style="font-weight: bold;">URL</span>  is live </h2>
        </div>
        <%if(locals.id){%>
            <h3 id="urlLink"><a style="text-decoration: none;" href="http://localhost:3000/url/<%=id%>" target="_blank">http://localhost:3000/url/<%=id%></a></h3>
            <%}%>
          <div>
            <button id="copyLinkButton" class="btn my-2 btn-primary">Copy Link</button>
            <button class="btn my-2 btn-primary"><a style="color: white; text-decoration: none;" href="/">Go to Home</a></button>
          </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
  <script>
    document.getElementById("copyLinkButton").addEventListener("click", function() {
      var linkText = document.getElementById("urlLink").textContent; // Get the link text
      var tempInput = document.createElement("input"); // Create a temporary input element
      document.body.appendChild(tempInput);
      tempInput.setAttribute("value", linkText);
      tempInput.select();
      document.execCommand("copy"); // Copy the link text to the clipboard
      document.body.removeChild(tempInput); // Remove the temporary input element
  
      // Change the button text to indicate the link is copied
      this.textContent = "Link Copied!";
    });
  </script>
  
</html>

