
      <div style="height:400px;  background-color: rgb(214, 234, 251);" class="w-100 d-flex align-items-center justify-content-center flex-column">
        <div class="w-75 my-4 text-center">
            <h2>Hurray ! The Generated <span class="text-primary" style="font-weight: bold;">URL</span>  is live </h2>
        </div>
        <%if(locals.id){%>
            <h3 id="urlLink"><a style="text-decoration: none;" href="https://shorturl-c6iy.onrender.com/<%=id%>" target="_blank">shorturl-c6iy.onrender.com/<%=id%></a></h3>
            <%}%>
          <div>
            <button id="copyLinkButton" class="btn my-2 btn-primary">Copy Link</button>
            <button class="btn my-2 btn-primary"><a style="color: white; text-decoration: none;" href="/">Go to Home</a></button>
          </div>
    </div>

